/* HTML ELEMENTS */

body
{
background-color:white;
}

h1
{
color:navy;
font-style:bold;
text-align:center;
font-family:sans-serif;
}

label
{
width: 11em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block;
}

object
{
float:left;
}

fieldset
{
margin: 0 auto 1em auto;
border: 1px solid navy;
width: 27em;
}

legend
{
color: navy;
background: #ffa20c;
border: 1px solid navy;
padding: 2px 6px;
margin-left: 2em;
}

input
{
color: navy;
background: #fee3ad;
border: 1px solid navy;
}

a img
{
border:none;
}

a:link
{
text-decoration:none;
border-style:none;
}

a:visited
{
color:blue;
}


/* IDS */

#nav
{
margin:0 auto 0 auto;
background-color:white;
margin-bottom: 1em;
}

#outline
{
margin: 0 auto 0 auto;
}

#logo
{
text-align:center;
width:100%;
margin:0 auto 0 auto;
}

#feedback
{
text-align:center;
}

#header
{
text-align:center;
width:69em;
margin:0 auto 0 auto;
background:white;
padding:.5em;
}

/* GENERAL CLASSES */

.corner
{
float: left;
}

.clickable 
{
width: 24em;
margin-top: 1em;
text-align: center;
color: #000;
background: #ffa20c;
border: 2px outset #d7b9c9
}

button.clickable
{
width:22em;
}

.validated
{
height:31px;
width:88px;
bottom:5px;
right:5px;
}

.lineWidth
{
float:left;
width:25em;
margin: .5em .5em .5em .5em;
}

.middleCol
{
float:left;
text-align:left;
width:11em;
}

.center
{
text-align:center;
border:1px solid black;
}