body,
html 
{
margin:0;
padding:0;
color:black;
background:white;
}

.navyorange
{
border: 1px solid navy;
background: #ffa20c;
}

#wrap 
{
width:60em;
margin:0 auto;
background:white;
border-style:solid;
border-width:0.1em;
padding:1em;
}

#header
{

}

#title
{
text-align:center;
text-transform:uppercase;
font-family:arial;
font-size:x-large;
font-weight:bold;
color:navy;
}

#nav
{
border-style:solid;
border-width:0.1em;
padding:1em;
}

#nav ul
{
margin:0;
padding:0;
list-style:none;
}

#nav li
{
display:inline;
margin:0;
padding:0;
}

#feedreader
{
float:left;
border: 2px solid navy;
}

#main
{
float:left;
width:7em;
border-style:solid;
border-width:2px;
border-right:none;
padding:1em;
height:25em;
}

#sidebar
{
float:left;
width:15em;
height:25em;
border-style:solid;
border-width:0.1em;
border-left:none;
padding:1em;
border:2px solid navy;
}

#footer
{
clear:both;
background:#cc9;
border-style:solid;
border-width:0.1em;
padding:1em;
}

.validated
{
height:31px;
width:88px;
position:absolute;
bottom:5px;
right:5px;
}