body
{
background-color:white;
}

.corner
{
float: left;
}

h1
{
color:navy;
font-style:bold;
text-align:center;
font-family:sans-serif;
}

div.outerbody
{
text-align:left;
background-color:white;
padding:1em;
width:30em;
margin: 0 auto 0 auto;
}

label
{
width: 11em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block;
}

.multifield {
float: left;
}

.rightcolumn {
float: left;
margin-top: 1em;
margin-left: 13.5em;
background: #ffa20c;
}

input
{
color: navy;
background: #fee3ad;
border: 1px solid navy;
}

.submit input, button
{
margin-left: 4.5em;
color: #000;
background: #ffa20c;
border: 2px outset #d7b9c9
} 

addFeeds, button
{
margin-left: 4.5em;
color: #000;
background: #ffa20c;
border: 2px outset #d7b9c9
} 

fieldset
{
margin: 0 auto 1em auto;
border: 1px solid navy;
width: 25em;
}

legend
{
color: navy;
background: #ffa20c;
border: 1px solid navy;
padding: 2px 6px;
margin-left: 2em;
}

.validated
{
height:31px;
width:88px;
bottom:5px;
right:5px;
}

.lineWidth
{
float:left;
width:35em;
margin: .5em .5em .5em .5em;
}

.middleCol
{
float:left;
text-align:left;
width:11em;
}

#nav
{
margin:0 auto 0 auto;
background-color:white;
margin-bottom: 1em;
}

#outline
{
margin: 0 auto 0 auto;
}

#logo
{
text-align:center;
float:left;
border: 1px solid black;
}

a:visited
{
color:blue;
}