/* HTML ELEMENTS */

body, html 
{
text-align:center;
margin:0;
padding:0;
color:black;
background:white;
}

h1
{
color:navy;
font-weight:bold;
text-align:center;
font-family:sans-serif;
}

label
{
width: 11em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block
}

object
{
float:left;
}

input
{
color: navy;
background: #fee3ad;
border: 1px solid navy;
}

fieldset
{
margin: 0 auto 1em auto;
border: 1px solid navy;
width: 27em;
}

legend
{
color: navy;
background: #ffa20c;
border: 1px solid navy;
padding: 2px 6px;
margin-left: 2em;
}

a img
{
border:none;
}

a:link
{
text-decoration:none;
border-style:none;
}

a:visited
{
color:blue;
text-decoration:none;
}

h1, h3
{
margin: 0;
}

li
{
list-style: none;
margin: 0;
padding: 0;
text-align: left;
}

ul
{
width:16.6em;
height:25.5em;
margin: 0;
padding:0;
overflow: auto;
height:11em;
}

/* ELEMENT IDS */

#wrap 
{
text-align:center;
width:70em;
margin:0 auto 0 auto;
background:white;
padding:1em;
}

#logo
{
text-align:center;
width:100%;
margin:0 auto 0 auto;
}

#nav
{
margin:0 auto 0 auto;
background-color:white;
margin-bottom: 1em;
}

#outline
{
margin: 0 auto 0 auto;
}

#feedback
{
text-align:center;
}

#header
{
text-align:center;
width:69em;
margin:0 auto 0 auto;
background:white;
padding:.5em;
}

#feedreader
{
height: 22.5em;
width: 38em;
margin: 1em auto;
border: .1em groove navy;
padding: 1em;
float:  left;
background-color:#ffa20f;
background-image:url('orange_gradient.jpg');
}

#userspace
{
height: 22.5em;
width: 26.4em;
margin: 1em auto;
margin-left: 1em;
border: .1em groove navy;
padding: 1em;
float:  left;
background-color:#ffa20f;
background-image:url('orange_gradient.jpg');
}

#nav
{
border: .1em groove navy;
width: 36em;
padding:1em;
background-color:white;
margin-bottom: 1em;
}

#nav ul
{
margin:0;
padding:0;
list-style:none;
}

#nav li
{
display:inline;
margin-bottom:0;
padding:0;
}

#feedBrowser
{
height:17.5em;
width:25.2em;
background-color:white;
border:.1em groove navy;
padding:0 0 0 1em;
}

#feedHeader
{
height:1.5em;
font-weight:bolder;
color:navy;
}

#feedRows
{
margin:1em 1em 0 0;
height:13.5em;
overflow: auto;
}

#browse
{
border: .1em groove navy;
width: 24.2em;
padding:1em;
background-color:white;
margin-bottom: 1em;
}

#feedreader_feeds
{
float:left;
padding:1em;
height:15.5em;
width:16em;
border: .1em groove navy;
margin-right: 1em;
background-color: white;
}

#feedreader_stories
{
float:left;
width:16.6em;
padding:1em;
height:15.5em;
border: .1em groove navy;
background-color: white;
overflow:auto;
}

#footer
{
border: .1em groove navy;
clear:both;
padding: 1em;
height:2.2em;
background-color:#ffa20f;
background-image:url('orange_gradient.jpg');
width:67.8em;
}

/* CSS CLASSES */

.corner
{
position:absolute;
text-align:left;
float: left;
}

.clickable 
{
width: 24em;
margin-top: 1em;
text-align: center;
color: #000;
background: #ffa20c;
border: 2px outset #d7b9c9
}

button.clickable
{
width:22em;
}

.validated
{
height:31px;
width:88px;
bottom:5px;
right:5px;
position:absolute;
}

.lineWidth
{
float:left;
width:25em;
margin: .5em .5em .5em .5em;
}

.middleCol
{
float:left;
text-align:left;
width:11em;
}

.center
{
text-align:center;
border:1px solid navy;
}

.left
{
text-align:left;
float:left;
}

.right
{
text-align:left;
float:right;
}

.submit input
{
margin-left: 6em;
color: #000;
background: #ffa20f;
border: 2px outset #d7b9c9
} 

.thin
{
width: 22em;
}

.thin label
{
width:6em;
}

.story
{
margin: 0 0 2em 0;
}

.story a
{
text-decoration:none;
}

.story a:link
{
color:navy;
}

.story a:visited
{
color:navy;
}

.story a:hover
{
background-color:orange;
}

.storyDate
{
margin: .25em 0 .75em 0;
font-style: italic;
color:#666666;
}

.feedName
{
color:navy;
font-weight:bold;
text-align:left;
}

.title
{
text-align:center;
text-transform:uppercase;
font-family:arial;
font-size:x-large;
font-weight:bold;
color:navy;
}

.icon
{
margin-right:.5em;
text-align:left;
float:left;
}

.feed button
{
background-color:orange;
height:2em;
width:18.5em;
}

.feed
{
text-align:center;
}

.bigButton
{
background-color:orange;
height:3em;
width:10em;
text-align:center;
color:navy;
font-weight:bolder;
}